Organizations:

  - &OrdererOrg
      Name: OrdererOrg
      ID: OrdererMSP
      MSPDir: crypto-config/ordererOrganizations/trade.com/msp
      Policies:
        Readers:
          Type: Signature
          Rule: "OR('OrdererMSP.member')"
        Writers:
          Type: Signature
          Rule: "OR('OrdererMSP.member')"
        Admins:
          Type: Signature
          Rule: "OR('OrdererMSP.admin')"
      OrdererEndpoints:
        - orderer0.trade.com:7050
        - orderer1.trade.com:8050
        - orderer2.trade.com:9050

  - &Org1
      Name: Org1MSP
      ID: Org1MSP
      MSPDir: crypto-config/peerOrganizations/org1.trade.com/msp
      Policies:
        Readers:
          Type: Signature
          Rule: "OR('Org1MSP.admin', 'Org1MSP.peer', 'Org1MSP.client')"
        Writers:
          Type: Signature
          Rule: "OR('Org1MSP.admin', 'Org1MSP.client')"
        Admins:
          Type: Signature
          Rule: "OR('Org1MSP.admin')"
        Endorsement:
          Type: Signature
          Rule: "OR('Org1MSP.peer')"
      AnchorPeers:
        - Host: peer0.org1.trade.com
          Port: 7051

  - &Org2
      Name: Org2MSP
      ID: Org2MSP
      MSPDir: crypto-config/peerOrganizations/org2.trade.com/msp
      Policies:
        Readers:
          Type: Signature
          Rule: "OR('Org2MSP.admin', 'Org2MSP.peer', 'Org2MSP.client')"
        Writers:
          Type: Signature
          Rule: "OR('Org2MSP.admin', 'Org2MSP.client')"
        Admins:
          Type: Signature
          Rule: "OR('Org2MSP.admin')"
        Endorsement:
          Type: Signature
          Rule: "OR('Org2MSP.peer')"
      AnchorPeers:
        - Host: peer0.org2.trade.com
          Port: 9051

  - &Org3
      Name: Org3MSP
      ID: Org3MSP
      MSPDir: crypto-config/peerOrganizations/org3.trade.com/msp
      Policies:
        Readers:
          Type: Signature
          Rule: "OR('Org3MSP.admin', 'Org3MSP.peer', 'Org3MSP.client')"
        Writers:
          Type: Signature
          Rule: "OR('Org3MSP.admin', 'Org3MSP.client')"
        Admins:
          Type: Signature
          Rule: "OR('Org3MSP.admin')"
        Endorsement:
          Type: Signature
          Rule: "OR('Org3MSP.peer')"
      AnchorPeers:
        - Host: peer0.org3.trade.com
          Port: 13051

Capabilities:
  Channel: &ChannelCapabilities
    V2_0: true
  Orderer: &OrdererCapabilities
    V2_0: true
  Application: &ApplicationCapabilities
    V2_0: true

Application: &ApplicationDefaults
  Organizations:
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
  Capabilities:
    <<: *ApplicationCapabilities

Orderer: &OrdererDefaults
  OrdererType: etcdraft
  Addresses:
    - orderer0.trade.com:7050
    - orderer1.trade.com:8050
    - orderer2.trade.com:9050
  
  EtcdRaft:
    Consenters:
      - Host: orderer0.trade.com
        Port: 7050
        ClientTLSCert: crypto-config/ordererOrganizations/trade.com/orderers/orderer0.trade.com/tls/server.crt
        ServerTLSCert: crypto-config/ordererOrganizations/trade.com/orderers/orderer0.trade.com/tls/server.crt
      - Host: orderer1.trade.com
        Port: 8050
        ClientTLSCert: crypto-config/ordererOrganizations/trade.com/orderers/orderer1.trade.com/tls/server.crt
        ServerTLSCert: crypto-config/ordererOrganizations/trade.com/orderers/orderer1.trade.com/tls/server.crt
      - Host: orderer2.trade.com
        Port: 9050
        ClientTLSCert: crypto-config/ordererOrganizations/trade.com/orderers/orderer2.trade.com/tls/server.crt
        ServerTLSCert: crypto-config/ordererOrganizations/trade.com/orderers/orderer2.trade.com/tls/server.crt
  
  BatchTimeout: 1s
  BatchSize:
    MaxMessageCount: 2
    AbsoluteMaxBytes: 99 MB
    PreferredMaxBytes: 512 KB
  
  Organizations:
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"
  Capabilities:
    <<: *OrdererCapabilities

Channel: &ChannelDefaults
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
  Capabilities:
    <<: *ChannelCapabilities

Profiles:

  ThreeOrgsOrdererGenesis:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
        - *OrdererOrg
      Capabilities:
        <<: *OrdererCapabilities
    Application:
      <<: *ApplicationDefaults
      Organizations:
        - *Org1
        - *Org2
        - *Org3
      Capabilities:
        <<: *ApplicationCapabilities

  TradeChannel1:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
        - *OrdererOrg
      Capabilities:
        <<: *OrdererCapabilities
    Application:
      <<: *ApplicationDefaults
      Organizations:
        - *Org1
        - *Org2
        - *Org3
      Capabilities:
        <<: *ApplicationCapabilities

  TradeChannel2:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
        - *OrdererOrg
      Capabilities:
        <<: *OrdererCapabilities
    Application:
      <<: *ApplicationDefaults
      Organizations:
        - *Org1
        - *Org2
        - *Org3
      Capabilities:
        <<: *ApplicationCapabilities
